<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="simipwa" translate="label" sortOrder="1000">
            <label>Pwa</label>
        </tab>
        <section id="simipwa" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>simipwa</tab>
            <resource>Simi_Simipwa::simipwa_settings</resource>

            <group id="notification" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1">
                <label>Push Notification and Offline Mode</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "Yes" will enable both Push Notification and Offline Mode functions of PWA</comment>
                </field>
                <field id="icon_url" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1">
                    <label>Notification Icon Url (png)</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="homescreen" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Add to Home Screen Button</label>
                <field id="homescreen_enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_name" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1">
                    <label>App Name</label>
                </field>
                <field id="app_short_name" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1">
                    <label>App Short Name</label>
                </field>
                <field id="home_screen_icon" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1">
                    <label>Icon URL (png)</label>
                    <comment>Image Size : 512x512 | 384x384 | 256x256</comment>
                </field>
                <field id="theme_color" translate="label" type="text" sortOrder="499" showInDefault="1" showInWebsite="1">
                    <label>Theme Color</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Color</frontend_model>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="599" showInDefault="1" showInWebsite="1">
                    <label>Background Color</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Color</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced PWA Configuration</label>
                <field id="pwa_enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Enable PWA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Contact support@simicart.com for PWA building</comment>
                </field>
                <field id="pwa_main_url_site" translate="label" type="select" sortOrder="199" showInDefault="1" showInWebsite="1">
                    <label>Enable Redirection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Redirect users to your Live PWA. (Please click Build Live PWA after Save)</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="folder_pub" translate="label" type="select" sortOrder="205" showInDefault="1" showInWebsite="1">
                    <label>PWA Pub Folder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable when source code PWA in pub folder</comment>
                </field>
                <field id="pwa_mobile_only" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1">
                    <label>Mobile Filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Only show PWA for mobile user</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="dynamic_rendering" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1">
                    <label>Enable Dynamic Rendering</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Return Rendertron result for Search Engine bots</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="pwa_redirect_ips" translate="label" type="text" sortOrder="249" showInDefault="1" showInWebsite="1">
                    <label>PWA Redirect IP(s)</label>
                    <comment>Separated by comma, Users with IP listed above would be redirected. Leave this empty to redirect ALL users</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                        <field id="*/*/pwa_main_url_site">1</field>
                    </depends>
                </field>
                <field id="pwa_excluded_paths" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1">
                    <label>PWA Excluded Paths</label>
                    <comment>Separated by comma, urls that contain any of the keys above would be excluded from Web App. Eg: checkout/onepage</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                        <field id="*/*/pwa_main_url_site">1</field>
                    </depends>
                </field>
                <field id="logo_url" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1">
                    <label>PWA Logo URL</label>
                </field>
                <field id="splash_img" translate="label" type="text" sortOrder="499" showInDefault="1" showInWebsite="1">
                    <label>PWA Splash Image Url (png)</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="favicon" translate="label" type="text" sortOrder="599" showInDefault="1" showInWebsite="1">
                    <label>PWA Favicon Url</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="pwa_action" translate="label" type="text" sortOrder="699" showInDefault="1">
                    <label>Action</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Form\SyncButton</frontend_model>
                </field>
                <field id="build_time" translate="label" type="text" sortOrder="799" showInDefault="1" >
                    <frontend_model>Simi\Simipwa\Block\Adminhtml\System\Config\Readonly</frontend_model>
                    <label>Live Build Time</label>
                </field>
                <field id="build_time_sandbox" translate="label" type="text" sortOrder="899" showInDefault="1" >
                    <frontend_model>Simi\Simipwa\Block\Adminhtml\System\Config\Readonly</frontend_model>
                    <label>Sandbox Build Time</label>
                </field>
                <field id="ga_token_key" translate="label" type="text" sortOrder="999" showInDefault="1">
                    <label>Google Analytics Tracking ID</label>
                </field>
                <field id="custom_head" translate="label comment" sortOrder="1099" type="textarea" showInStore="1" showInDefault="1" >
                    <label>Custom Head</label>
                    <comment>Use this to add your custom content to head tag</comment>
                </field>
                <field id="footer_html" translate="label comment" sortOrder="1199" type="editor" showInStore="1" showInDefault="1" >
                    <label>Custom Footer HTML</label>
                    <frontend_model>Simi\Simipwa\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="dashboard_url" translate="label" type="text" sortOrder="1299" showInDefault="1">
                    <label>Dashboard URL</label>
                    <comment>Use for dashboard configuration getting on Building and PWA opening. By default, it's https://www.simicart.com</comment>
                </field>
                <field id="dashboard_token_key" translate="label" type="text" sortOrder="1299" showInDefault="1">
                    <label>Dashboard Token Key</label>
                    <comment>If it's empty, we are going to use token key from Simicart Connector</comment>
                </field>
            </group>
            <group id="pwa_package" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1">
                <label>Package files</label>
                <field id="use_uploaded_package_file" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Use Uploaded package file for live App</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="upload_pwa_package_file" translate="label" type="file" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Upload PWA Package file</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system/filesystem/media">pwa/packages</upload_dir>
                    <depends>
                        <field id="*/*/use_uploaded_package_file">1</field>
                    </depends>
                </field>
                <field id="use_uploaded_package_file_sandbox" translate="label" type="select" sortOrder="299" showInDefault="1" showInWebsite="1">
                    <label>Use Uploaded package file for Sandbox App</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="upload_pwa_package_file_sandbox" translate="label" type="file" sortOrder="399" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Upload PWA Package file sandbox</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system/filesystem/media">pwa/packages/sandbox</upload_dir>
                    <depends>
                        <field id="*/*/use_uploaded_package_file_sandbox">1</field>
                    </depends>
                </field>
                <field id="use_local_config" translate="label" type="select" sortOrder="499" showInDefault="1" showInWebsite="1">
                    <label>Use Local Json Config</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="json_config_data" translate="label comment" sortOrder="599" type="textarea" showInStore="1" showInDefault="1" >
                    <label>Json Config Data</label>
                    <depends>
                        <field id="*/*/use_local_config">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
