<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="simipwa" translate="label" sortOrder="1000">
            <label>Simicart Pwa</label>
        </tab>
        <section id="simipwa" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>simipwa</tab>
            <resource>Simi_Simipwa::simipwa_settings</resource>

            <group id="notification" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1">
                <label>Push Notification and Offline Mode</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "Yes" will enable both Push Notification and Offline Mode functions of PWA</comment>
                </field>
                <field id="icon_url" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1">
                    <label>Notification Icon Url (png)</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="homescreen" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Add to Home Screen Button</label>
                <field id="homescreen_enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_name" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1">
                    <label>App Name</label>
                    <depends>
                        <field id="*/*/homescreen_enable">1</field>
                    </depends>
                </field>
                <field id="app_short_name" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1">
                    <label>App Short Name</label>
                    <depends>
                        <field id="*/*/homescreen_enable">1</field>
                    </depends>
                </field>
                <field id="home_screen_icon" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1">
                    <label>Icon URL (png)</label>
                    <depends>
                        <field id="*/*/homescreen_enable">1</field>
                    </depends>
                </field>
                <field id="theme_color" translate="label" type="text" sortOrder="499" showInDefault="1" showInWebsite="1">
                    <label>Theme Color</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Color</frontend_model>
                    <depends>
                        <field id="*/*/homescreen_enable">1</field>
                    </depends>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="599" showInDefault="1" showInWebsite="1">
                    <label>Background Color</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Color</frontend_model>
                    <depends>
                        <field id="*/*/homescreen_enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced PWA Configuration</label>
                <field id="pwa_enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Redirection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Redirect All mobile devices to PWA Homepage URL</comment>
                </field>
                <field id="pwa_main_url_site"  translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Domain Website For PWA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="pwa_url" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Homepage URL</label>
                    <depends>
                        <field id="*/*/pwa_main_url_site">0</field>
                    </depends>
                </field>
                <field id="pwa_excluded_paths" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Excluded Paths</label>
                    <comment>Separated by comma, urls that contain any of the keys above would be excluded from Web App. Eg: checkout/onepage</comment>
                    <depends>
                        <field id="*/*/pwa_enable">1</field>
                    </depends>
                </field>
                <field id="logo_url" translate="label" type="text" sortOrder="399" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Logo URL</label>
                </field>
                <field id="clear_cache" translate="label" type="text" sortOrder="499" showInDefault="1">
                    <label>Action</label>
                    <frontend_model>Simi\Simipwa\Block\System\Config\Form\SyncButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
