<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simipwa>
            <homescreen>
                <homescreen_enable>1</homescreen_enable>
                <app_name>Simicart PWA</app_name>
                <app_short_name>Simicart PWA | Progressive Web App</app_short_name>
                <home_screen_icon>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo.png</home_screen_icon>
                <home_screen_icon_192>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo192.png</home_screen_icon_192>
                <home_screen_icon_256>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo256.png</home_screen_icon_256>
                <home_screen_icon_384>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo384.png</home_screen_icon_384>
            </homescreen>
            <notification>
                <enable>1</enable>
                <icon_url>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo.png</icon_url>
                <public_key>BDX7qGhO-GQfrhjWsqWEDyW3-tA0AjIkRYSIYNUGoQzU8p43t8D0fxW_0V1ghtJQ2yOk6sYWsEq25p_p8PUXnak</public_key>
                <private_key>aA2klDX6lGDy0yyWWQ5BGcLgZkMLObczsO7yS_olLPg</private_key>
            </notification>
            <general>
                <pwa_enable>0</pwa_enable>
                <dashboard_url>https://www.simicart.com</dashboard_url>
                <pwa_mobile_only>1</pwa_mobile_only>
                <dynamic_rendering>0</dynamic_rendering>
            </general>
        </simipwa>
    </default>
</config>