<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <!--
    <event name="controller_action_predispatch">
        <observer name="simi_simipwa_controller_action_predispatch"
                  instance="Simi\Simipwa\Observer\Frontendcontrollerpredispatch" />
    </event>
    <event name="controller_front_send_response_before">
        <observer name="simi_simipwa_controller_front_send_response_before"
                  instance="Simi\Simipwa\Observer\Frontendcontrollerpredispatch" />
    </event>
    -->
</config>